# App
NODE_ENV=development
LOG_LEVEL=debug

# Traffic Config
DEFAULT_URL=https://lucasveneno.com/
MAX_SESSIONS=1
STEALTH_MODE=true

# Proxy
PROXY_URL=
PROXY_PORT=
PROXY_USER=
PROXY_PASS=

# Session Time (minutes or 'random')
SESSION_TIME=3
REFERRALS=no
